container_commands:
  01_install_prisma_cli:
    command: "npm install -g prisma@7.8.0"
  02_generate:
    command: "prisma generate"
  03_link_prisma_client:
    command: "mkdir -p node_modules/@prisma && ln -sfn ../../src/generated/prisma node_modules/@prisma/client-2c3a283f134fdcb6"
  04_migrate:
    command: "prisma migrate deploy"
    leader_only: true
